p.title{
	font-size: x-large
}
label{
	width:200px;	
	float:left;
	font-weight: bold;
}
div{
	margin:3px ;
}
input{
	background: #e2f2f7;
	width:270px;
	border: solid 1px #4546a9;
	margin: auto;
}
legend{
	color: #191581;
	font-weight: bold;
}
legend:first-letter{
	text-decoration: underline;
}

*{
		font-family:Verdana;

}
fieldset{
	margin-top: 15px;
	border-color: #9ebec6;
	border-style:dotted;
}
div.SignUp{
	background: #add8e6;
	border: solid 1px #171651;
	width:90px;
	text-align:center
}
p.SigUp{

}